debug/*
release/*
Bin
Bin/*
obj/*
*.csuser
*.suo
*.ReSharper
*.user
*.tmp
*.db
*.orig
*.bak
*.zip
*.rar
.hg/*
bin
bin/*
obj
TestResults/*
Logs
Logs/*
ErrorLogs
ErrorLogs/*
packages
packages/*
_ReSharper*
_ReSharper*/*
*.pidb
App_Data/HelpIndex
*.userprefs
AutoBidLogs
